{% import "macros.inc.html" as macros %}

<!doctype html>
<html>
  <head>
    {% block head %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
    <title>Debian sources</title>
    {% endblock %}
  </head>
  <body>
    <div id="header">
      <a href="http://www.debian.org"><img src="/static/img/debian-50.png"
                                           alt="Debian logo" /></a>
      <h1>Debian sources</h1>
      <div id="navbar">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/doc/">API documentation</a></li>
        </ul>
      </div>
    </div>
    <div id="leftmenu">
      <h2>Find a package</h2>
      <hr />
      <p>Search for a package name:</p>
        {{ macros.searchform(searchform, display="inline") }}
      <hr />
      <p><a href="{{ url_for('list', page=1) }}">View package list</a> 
        (alphabetically)</p>
      <hr />
      <p>By first letter:
      {% for letter in packages_prefixes %}
      <a href="{{ url_for('letter', letter=letter) }}">{{ letter }}</a>
      {% endfor %}</p>

    </div>
    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
