{% extends "source_base.html" %}

{% block head %}
  {{ super() }}
  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/getsource.js"></script>
  <link rel="stylesheet" href="/static/highlight.js/googlecode.min.css">
  <script src="/static/highlight.js/highlight.min.js"></script>
  <script type="text/javascript">
      function loadFromBody(){
          loadSource("{{ sources_path_server }}", $('#sourcecode'));
      }
    </script>
  <style>
    td{vertical-align: top; margin: 0px; padding: 0px;}
    #sourceslinenumbers{text-align: right; border-right: 1px solid black;}
    #sourceslinenumbers a{display: block; text-decoration: none;
    color: black}
  </style>
{% endblock %}

{% block source_content %}

<table border="0">
  <tr>
    <td><pre><code id="sourceslinenumbers">{%
      for i in range(1,6407)
          %}<a name="loc{{ i }}" href="#loc{{ i }}">{{ i }}{%
      endfor %}</code></pre></td>
    <td>
      <pre><code id="sourcecode">loading...</code></pre>
    </td>
  </tr>
</table>

<noscript>
  You seem not to have Javascript on your browser. You can
  get <a href="{{ path }}">a plain text version of the file</a>
  instead.
</noscript>

<script type="text/javascript">loadFromBody();</script>

{% endblock %}
