{% extends "source_base.html" %}

{% block head %}
  {{ super() }}
  <script src="/static/js/jquery.js"></script>
  <script src="/static/js/getsource.js"></script>
  <link rel="stylesheet" href="/static/highlight.js/googlecode.min.css">
  <script src="/static/highlight.js/highlight.min.js"></script>
  <link rel="stylesheet" type="text/css"
        href="/static/css/source_file.css" />
  <script type="text/javascript">
      function loadFromBody(){ // to remove
          loadSource("{ sources_path_server }", $('#sourcecode'));
      }
    </script>

{% endblock %}

{% block title %}File: {{ pathl[-1][0] }}{% endblock %}

{% block source_content %}
<h2>{{ self.title() }}</h2>

<table id="codetable">
  <tr>
    <td>
      <pre id="sourceslinenumbers">{% for i in range(1, nlines) -%}
        <a id="L{{ i }}" href="#L{{ i }}">{{ i }}</a><br />
        {%- endfor %}</pre>
    </td>
    <td>
      <pre><code id="sourcecode">{% for (line, highlight) in code -%}
          {% if highlight -%}
            <span class="highlight">{{ line }}</span>{% else -%}
            {{ line }}
          {%- endif %}
         {%- endfor %}</code></pre>
    </td>
    <td>
      <pre id="messages">{% if msg -%}
        {% for i in range(1, msg.position) -%}
          <br />
        {%- endfor %}<div class="message">{% if msg.title -%}
            <strong>{{ msg.title }}</strong><br />
            {%- endif %}{% if msg.message -%}
              {{ msg.message }}
            {%- endif %}</div>{%- endif %}</pre>
    </td>
  </tr>
</table>

<script type="text/javascript">hljs.highlightBlock($('#sourcecode')[0])</script>

{% endblock %}
