<table id="file_metadata">
  <tr>
    <td>
    file content ({{ nlines }} line{% if nlines > 1 %}s{% endif %})
    | stat: {{ stat.type }}{{ stat.perms }} {{ "{:,d}".format(stat.size) }} byte{% if stat.size > 1 %}s{% endif %}
    </td>
    <td style="text-align: right;">
    <a href="{{ url_for('source_html', path_to='/'.join(path.split('/')[:-1])) }}">parent folder</a>
    | <a href="{{ raw_url }}">download</a>
    {% if number_of_duplicates > 1 %}
    | <a href="{{ url_for('checksum_html', checksum=checksum, page=1) }}">
	  duplicates ({{ number_of_duplicates }})</a>
    {% endif %}
    </td>
  </tr>
</table>

<table id="codetable">
  <tr>
    <td>
      <pre id="sourceslinenumbers">{% for i in range(1, nlines+1) -%}
        <a id="L{{ i }}" href="#L{{ i }}">{{ i }}</a><br />
        {%- endfor %}</pre>
    </td>
    <td>
      <pre><code id="sourcecode" class="{% if file_language -%}
					{{ file_language }}{% else %}no-highlight
					{%- endif %}">{% for (line, highlight) in code -%}
             <span id="line{{ loop.index }}" class="codeline {% if highlight -%} highlight {%- endif %}">{{ line }}{% if msg
             and code.current_line == (msg.position+1) -%}
                <pre id="messages"><div class="message">{% if msg.title -%}
                  <strong>{{ msg.title }}</strong><br />
                  {%- endif %}{% if msg.message -%}
                     {{ msg.message }}
                  {%- endif %}</div></pre>{%- endif %}</span>
          {%- endfor %}</code></pre>
    </td>
    <!--{% if msg -%}
    <td>
      <pre id="messages">
        {% for i in range(1, msg.position) -%}
        <br />
        {%- endfor %}<div class="message">{% if msg.title -%}
          <strong>{{ msg.title }}</strong><br />
          {%- endif %}{% if msg.message -%}
          {{ msg.message }}
          {%- endif %}</div></pre>
    </td>
    {%- endif %}-->
  </tr>
</table>
