MAILTO=zack
DEBSRC=/srv/debsources

# m h          dom mon dow user           command

# 4 runs a day, ideally after the mirror network has stabilized.
# See http://ftp-master.debian.org/#dinstall for the big bang reference.
1   4,10,16,22 *   *   *   debian-mirror  $DEBSRC/bin/update-debsources

# Extra run on Friday, for synchronization with codesearch.d.n, just in case
# they grabbed versions we don't have yet.
1   8          *   *   5   debian-mirror  $DEBSRC/bin/update-debsources
