MAILTO=zack
DEBSRC=/srv/sources.debian.org
LOGFILE=/var/log/debsources/debsources.log

# m h         dom mon dow user           command
1   0,6,12,18 *   *   *   debian-mirror  $DEBSRC/bin/update-debsources >> $LOGFILE 2>&1 || echo "update-debsources returned non 0 exit code"
