DEBSRC=/srv/debsources

# m h          dom mon dow user           command

# Periodic runs disabled in favor of push updates. Keep the extra weekly
# one for codesearch.d.n, just in case.

# # 4 runs a day, ideally after the mirror network has stabilized.
# # See https://ftp-master.debian.org/#dinstall for the big bang reference.
# 1   4,10,16,22 *   *   *   debsources  $DEBSRC/bin/debsources-main

# # Extra run on Friday, for synchronization with codesearch.d.n, just in case
# # they grabbed versions we don't have yet.
# 1   8          *   *   5   debsources  $DEBSRC/bin/debsources-main

# daily DB dump
13  20         *   *   *   debsources  $DEBSRC/bin/debsources-backup-db

# updates https certs every month
0   0          1   *   *   debsources  $DEBSRC/contrib/renew_letsencrypt.sh 2>> /var/log/acme_tiny.log
