#codetable{
    border: 0;
}

#codetable td{
    vertical-align: top;
    margin: 0px;
    padding: 0px;
}

#codetable #sourceslinenumbers{
    text-align: right;
    border-right: 1px solid
    black; padding-right: 5px;
    margin-right: 10px;
}

#codetable #sourceslinenumbers a{
    text-decoration: none;
    color: black
}

#codetable #sourcecode{
    margin: 0px;
    padding: 0px;
}

#codetable #sourcecode span{
    margin: 0px;
    padding: 0px;
}

#codetable #sourcecode .highlight{
    background-color: #dddddd;
    /*display:block;*/
}

#codetable #messages .message{
    /*border-left: 1px solid black;*/
    background-color: #feff6f;
    min-width: 300px; max-width:400px;
    white-space: pre-wrap;
    /*other browsers */
    white-space: -moz-pre-wrap;
    white-space:-o-pre-wrap;
    word-wrap: break-word;
}