#codewrap{
    border: 1px solid #c70036;
    /*min-width: 100%;*/
}

#codetable{
    
}

#codewrap #codecaption{
    /*width: 100%;*/
    background-color: #c70036;
    color: white;
    text-align: left;
    padding: 3px;
}

#codewrap #codecaption a{
    color: white;
}

#codetable td{
    vertical-align: top;
    margin: 0px;
    padding: 0px;
}

#codetable #sourceslinenumbers{
    text-align: right;
    border-right: 1px solid black;
    padding-right: 5px;
    margin-right: 10px;
}

#codetable #sourceslinenumbers a{
    text-decoration: none;
    color: black
}

#codetable #sourcecode{
    margin: 0px;
    padding: 0px;
}

#codetable #sourcecode span{
    margin: 0px;
    padding: 0px;
}

#codetable #sourcecode .highlight{
    background-color: #dddddd;
    /*display:block;*/
}

#codetable #messages .message{
    /*border-left: 1px solid black;*/
    background-color: #feff6f;
    /*min-width: 300px; max-width:400px;*/
    padding: 10px;
    white-space: pre-wrap;
    /*other browsers */
    white-space: -moz-pre-wrap;
    white-space:-o-pre-wrap;
    word-wrap: break-word;
}