{% extends 'base.html' %}
{% import "sources/_macros.html" as macros %}

{% block site_style %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='sources/css/site.css') }}" />
{% endblock %}

{% block title_suffix %}
| Debian Licenses
{% endblock %}

{% block nav %}
  <ul>
    <li><a href="{{ url_for('copyright.index') }}">Home</a></li>
    <li><a href="{{ url_for('copyright.doc') }}">Documentation</a></li>
    {#<li><a href="{{ url_for('copyright.stats') }}">Stats</a></li>#}
    <li><a href="{{ url_for('copyright.about') }}">About</a></li>
  </ul>
{% endblock %}
